{% extends "base.html" %}

{% block content %}
<section id="home">
    <img src="/static/images/LogoBAD.png"/>
    <div id="title">Bird Audio Detection challenge</div>
    {% if current_user.is_authenticated %}
    <div>
        {% if current_user.has_role('admin') %}
        <a href="/scores">Scores</a> | <a href="/admin">Admin</a>
        {% else %}
        <a href="/submission">Submit predictions</a> | <a href="/scores">Scores</a>
        {% endif %}
    </div>
    {% endif %}
    

</section>
{% endblock %}
